<div class="form-event">
		<input id="messageInput" type="text" name="message" placeholder="bora #ação {horas} {nº pessoas}" autofocus onclick="location.reload();">

	<script src="/js/jquery-3.3.1.js"></script>
	<script type="text/javascript">
		$('#messageInput').keypress(function (e) {
			if(e.keyCode == 13){
				var msg = $('#messageInput').serialize();

				jQuery.ajax({
					type: "POST",
					url: "/event/create",
					data: msg,
				});
				location.reload(true);
				return false;
			}
		});
	</script>
</div>
