<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title><%= title %></title>

  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/bootstrap/css/bootstrap.css' />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">

</head>
<body>

  <div class="content col-md-9">
    <div class="card-content">
      <div class="logomarca">
        <img src="/img/logomarca.png" alt="" width="200">
      </div>
      <hr class="sexy">
      <p>Lorem ipsum elementum ornare ullamcorper condimentum inceptos ut ligula nibh, non lectus</p>
    </div>
  </div>

  <div class="login col-md-3">
    <div class="card-login col-md-12">
      <div class="logotype">
        <img src="/img/logotipo.png" width="70" class="center-block">
      </div>
      <form class="form-login">
        <div class="form-group">
          <label for="email">E-mail</label>
          <input type="email" class="form-control" id="email" placeholder="email@mail.com">
        </div>
        <div class="form-group">
          <label for="password">Senha</label>
          <input type="password" class="form-control" id="password">
        </div>
        <!-- <div class="checkbox">
        <label>
        <input type="checkbox"> Check me out
      </label>
    </div> -->
    <button type="submit" class="btn btn-login">Entrar</button>
  </form>
  <hr>
  <div class="login-slack">
    <button type="button" name="login-slack" class="col-md-12 btn btn-slack">
      <i class="fab fa-slack"></i>&nbsp;Entrar com Slack
    </button>
  </div>
</div>
</div>

</body>

<script src="/js/jquery-3.3.1.js"></script>
<script src="/bootstrap/js/bootstrap.js"></script>
</html>
