@font-face {
  font-family: 'Gotham Book';
  src: url('/font/GothamBook.ttf');
}
@font-face {
  font-family: 'Gotham Bold';
  src: url('/font/GothamBold.ttf');
}
@font-face {
  font-family: 'Gotham Light';
  src: url('/font/GothamLight.ttf');
}
html {
  position: relative;
  min-height: 100%;
  min-width: 100%;
}

body {
  font-family: Gotham Book;
  background: linear-gradient(
    rgba(0,0,0,.62),
    rgba(0,0,0,.62)
    ),
    url('/img/bg1.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

  .main {
    margin-top: 5%;
  }

  .card-login {
    font-size: 1em;
    overflow: hidden;
    padding: 0;
    border: none;
    border-radius: 6px;
    margin-bottom: 30px;
    background-color: #fff;
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.15);
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.15);
  }

  .form-login {
    padding: 30px;
    font-size: 18px;
  }

  .btn-login {
    width: 100%;
    display: inline-block;
    padding: 15px 25px;
    font-size: 18px;
    font-weight:900;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #00BCD4;
    border: none;
    border-radius: 15px;
    box-shadow: 0 5px #0097A7;
  }

  .btn-login:hover {
    background-color: #03A9F4
  }

  .btn-login:active {
    background-color: #03A9F4;
    box-shadow: 0 2px #0097A7;
    transform: translateY(4px);
  }
