<div>
  <form action="/users/create" method="post">
    <table>
      <tbody>
        <tr>
          <td>Name</td>
          <td><input type="text" name="name" /></td>
        </tr>
        <tr>
          <td>Slack ID</td>
          <td><input type="text" name="slack_id" /></td>
        </tr>
        <tr>
          <td>Workspace</td>
          <td><input type="text" name="workspace" /></td>
        </tr>
        <tr>
          <td><button type="submit">Save</button></td>
        </tr>
      </tbody>
    </table>
  </form>
</div>