<div>
  <form action="/actions/create" method="post">
      <table>
          <tbody>
              <tr>
                <td>Name</td>
                <td><input type="text" name="name" /></td>
              </tr>
              <tr>
                <td>Position</td>
                <td><input type="checkbox" name="ranked" /> Ranked?</td>
              </tr>
              <tr>
                <td><button type="submit">Save</button></td>
              </tr>
              </tbody>
          </table>
  </form>
</div>